<div id="<%= dom_id form_table %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">tile prompt:</strong>
    <%= form_table.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">prompt:</strong>
    <%= form_table.description%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Processed in job:</strong>
    <%= form_table.processed_in_job %>
  </p>

</div>